<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss.fffZ} [%-5level] %logger - %message%newline" />
        </layout>
    </appender>
    <logger name="Program">
        <!--log from ERROR level only-->
        <level value="ERROR" />
        <appender-ref ref="ConsoleAppender" />
    </logger>
    <root>
    </root>
</log4net>