<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Logger.Core" version="1.2.0" targetFramework="net461" />
  <package id="AWS.Logger.Log4net" version="1.2.0" targetFramework="net461" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.4" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.17" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
</packages>