// https://github.com/scniro/react-codemirror2#requiring-codemirror-resources

@import './external';
@import './custom';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';


.flexbox{
    display: flex;
    height: 250px;
    border:1px solid #00F;
    flex-flow: column-reverse wrap;

    li{
        border: solid 1px #F00;
        width:40%;
        height: 40%;
    }
}
