node_modules
Scripts/**/*.js
!Scripts/jquery.js
Content/**/*.css
src/**/*.js

#Exclude font
Content/**/*.eot
Content/**/*.svg
Content/**/*.ttf
Content/**/*.woff
Content/**/*.woff2

bin
debug

# Exclude exported PDF reports
*.pdf

# Exclude all files in App_Data folder
App_Data
