<html>
<head>
    <style type="text/css">
        @@media print {
            @@page {
                size: A4;
                margin-left:0;
                margin-right:0;
            }

            body{
                border: 1px solid #000;
            }
        }
    </style>
</head>
<body>
    <p> hello world</p>
    <div>ViewBag data: @ViewBag.Value1</div>
    <div>ViewData data: @ViewData["Value2"]</div>
</body>
</html>
