{
    "presets": [
        "@babel/env",
        "@babel/typescript",
        "@babel/react",
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
